/*
KLEUREN

roze: rgb(191, 3, 123)
geel: rgb(242, 158, 6)
oranje: rgb(241, 116, 2)
bruine: rgb(138, 47, 10)
wit: rgb(241, 241, 241)
*/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(191, 3, 123);
	color: rgb(138, 47, 10);
	font-family: verdana, sans-serif;
}

div#container {
	max-width: 800px;
	margin: auto;
	background-color: rgb(241, 241, 241);
}

h1 {
	text-indent: -9999999px;
	background-image: url("../img/diertjesDuplo.jpg");
	width: 100%;
	height: 283px;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
}

nav ul {
	display: flex;
	list-style-type: none;
	background-color: rgb(138, 47, 10);
}

nav ul li {
	width: 100%;
}

nav ul li a {
	display: block;
	color: rgb(242, 158, 6);
	text-decoration: none;
	text-align: center;
	padding: 10px;
	transition: background-color 1s;
}

nav ul li a:hover {
	background-color: rgb(242, 158, 6);
	color: rgb(138, 47, 10);
}

footer {
	background-color: rgb(138, 47, 10);
	color: rgb(242, 158, 6);
	text-align: center;
	padding: 10px;
}

main {
	display: block;
	padding: 20px 10px;
}

h2 {
	margin-bottom: 15px;
}

p {
	margin-bottom: 10px;
	margin-top: 10px;
}

main ul {
	padding-left: 20px;
}

div#error {
	border: 2px solid rgb(191, 3, 123);
	color: rgb(191, 3, 123);
	border-radius: 5px;
	padding: 5px;
	background-color: rgb(254, 234, 247);
	margin-bottom: 15px;
}

div#error ul {
	list-style-type: none;
}

input.error {
	border: 2px solid rgb(191, 3, 123);
}

form>p>label:FIRST-CHILD, form>p>span {
	width: 30%;
	display: inline-block;
	text-align: right;
	padding-left: 0;
	padding-right: 0;
}

form label {
	padding-left: 5px;
	padding-right: 10px;
}

form input[type="text"], form input[type="number"], form select {
	width: 250px;
}

form input, form select {
	height: 18px;
	border-radius: 5px;
	padding: 5px;
	font-size: 100%;
	color: rgb(138, 47, 10);
	background-color: rgb(300, 300, 300);
}

form select {
	box-sizing: content-box;
}

form input[type="submit"],.left {
	margin-left: calc(30% + 5px);
	height: auto;
	margin-top: 25px;
}

th {
	text-align: left;
}

td, th {
	padding: 5px 25px 5px 0;
}

a#calculatedValue {
	color: #0E7BBE;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	border-bottom: 2px solid;
}

@media screen and (max-width: 480px) {
	nav ul {
		display: block
	}
	h1 {
		background-image: url("../img/diertjesDuploKlein.jpg");
		background-size: 80%;
		background-position: center;
	}
	form>p>label:FIRST-CHILD, form>p>span {
		width: 100%;
		display: block;
		text-align: left;
		padding: 10px 0 5px 0;
	}
	form input[type="text"], form input[type="number"], div#error {
		width: 95%;
	}
	form input[type="submit"] {
		margin-left: 0;
		margin-top: 10px;
	}
}

.has-error .help-block,
.has-error .control-label,
.has-error .form-group {
  color: #b94a48;
}
.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.has-error .input-group-addon {
  color: #b94a48;
  border-color: #b94a48;
  background-color: #f2dede;
}
.has-success .help-block,
.has-success .control-label {
  color: #0E7BBE;
}
.has-success .form-control {
  border-color: #0E7BBE;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #0E7BBE;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.has-success .input-group-addon {
  color: #0E7BBE;
  border-color: #468847;
  background-color: #dff0d8;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
.form-group{
	margin-bottom:15px;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #0E7BBE;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #0E7BBE;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #2d6987;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.alert-warning hr {
  border-top-color: #f8e5be;
}
.alert-warning .alert-link {
  color: #a47e3c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger hr {
  border-top-color: #e6c1c7;
}
.alert-danger .alert-link {
  color: #953b39;
}