/* -----------------------------------hoofding--------------------------------------- */
h1{
  /*  background-image: url(trippy.gif);*/
    background-color: #97130B;
    height: 150px; 
    font-family: verdana;
    font-size: 100px;
    text-align: center; 
    border-radius: 10px 10px 0px 0px;
    margin-bottom:0px;
    border-bottom: 1px solid #1D1A23;
    margin-top:4px;
}
.logo{
    height: 150px;
    float:left;
    border-radius: 10px 0px 0px 0px;
}
/* -----------------------------------body--------------------------------------- */
body{
    /* background-image: url(wood3.jpg); */
    background-image: linear-gradient(#CF190E , #FFA916); /* Standard syntax (must be last) */
    background-size: 100% 150%;
}
.wrapper {
    margin-right: auto; 
    margin-left:  auto; 
  
    max-width: 1400px; 
    min-width: 1400px;

    width: 100%;

    padding-right: 10px;
    padding-left:  10px;
  }
/* -----------------------------------SPEAKERS--------------------------------------- */
.woofer.animate2{
    transform: scale(0.9);
}
.woofer.animate{
    transform: scale(1.1);
}
.mid.animate2{
    transform: scale(0.97);
}
.mid.animate{
    transform: scale(1.03);
}
.woofer2.animate2{
    transform: scale(0.9);
}
.woofer2.animate{
    transform: scale(1.1);
}
.mid2.animate2{
    transform: scale(0.97);
}
.mid2.animate{
    transform: scale(1.03);
}
.woofer{

    transition: all 0.3s;

    position: absolute;
    top: 380px;
    left:25px;
    right: 25px;
    width:300px;
     
    display:block;


    z-index: 3;
}
.woofer0{
    position: absolute;
    top: 390px;
    left:35px;
    right: 35px;
    width:280px;
    
    float: center;
    display:block;

    border-radius: 100%;
    z-index: 2;
}

.woofer2{

    transition: all 0.3s;

    position: absolute;
    top: 380px;
    left:25px;
    right: 25px;
    width:300px;
    
    display:block;
}
.mid{
    transition: all 0.3s;
    position: absolute;
    top: 170px;
    left:75px;
    right: 75px;
    width:200px;
    
    float: center;
    display:block;
}
.mid2{
    transition: all 0.3s;
    position: absolute;
    top: 170px;
    left:75px;
    right: 75px;
    width:200px;
    
    float: center;
    display:block;
}
.tweeter2{
    position: absolute;
    top: 10px;
    left:100px;
    right: 100px;
    width:150px;
    
    float: center;
    display:block;
}
.tweeter{
    position: absolute;
    top: 10px;
    left:100px;
    right: 100px;
    width:150px;
    
    float: center;
    display:block;
}
.wood{
    background-image: url(wood4.jpg);
    margin-top:10px;
    padding: 0px 0px 700px 350px;
    float:left;
    /* overflow: hidden; */
    position: relative;
    border-radius: 10px;


}
.wood2{
    margin-top:10px;
    background-image: url(wood4.jpg);
    padding: 0px 0px 700px 350px;
    /* overflow: hidden; */
    float: right;
    position: relative;
    border-radius: 10px;

}
/* -----------------------------------CENTER WITH TEXT------------------------------------ */
.cent{
    width: 689px;
    text-align: center;

    border-style:solid;
    border-width:6px;
    border-color:#1D1A23;
    border-radius:10px;

    /* background-image:url(wood5.jpg); */
    /* background-color:#FF6912; */
    background-image: linear-gradient(#A3430C , #FF9152);

    font-size:120%;
}
.cente{
    margin-top:10px;
    width: 50%;
    float:left;
}
.groot{
    font-size:150%;
}
/* -----------------------------------slide show------------------------------------ */
body {font-family: Verdana, sans-serif;}
.mySlides {
    display: block;
    width: 650px;
  
    padding-left:25px;
    padding-right:25px;
}

.slideshow-container {
  width: 700px;
  position: relative;
  margin: auto;
  margin-top: 70px;
  
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.imgslide{
    border-radius:10px;
    width:350px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #1D1A23;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* -----------------------------------FOOT NOTE--------------------------------------- */
.voet{
    border: solid;
    border-color: #635566;

    text-align: center;
    background-image: url(voet.jpg);
    width:1394px;
    margin-top: 10px;
    padding: 1px;
    position: fixed;
    bottom: 0px;

    z-index: 100;
}
/* -----------------------------------NAVIGATION BAR--------------------------------------- */
.spacer{
    width: 990px; 
    
    height: 60px;
}

.navbar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border : 0px;
    border-radius: 0px 0px 10px 10px;
}
li {
  
    border:1px solid #1D1A23;
    background-color: #635566;
    display: inline-block;
    width: 100px;

    float: left;
}
li:first-child{
    border-radius: 0px 0px 0px 10px;
}
li:last-child {
  
    border-left:1px solid #1D1A23;
   
    border-radius: 0px 0px 10px 0px;
}
.home {
    background-color: #1D1A23;
    border-radius: 0px 0px 0px 10px;
}
.home2{
    border-radius: 0px 0px 0px 10px;
}
.formulier{
    background-color: #1D1A23;
}
li a{
    padding-top: 20px;
    display: block;
    height: 40px;

    color: #000;   
    text-align: center;   
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #1D1A23;
    color: white;
}

.extra2{
    border-radius: 0px 0px 10px 0px;
}

/* ---------------------------------------DROPDOWN MENU------------------------------------- */ 
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #635566;
    min-width: 102px;
    z-index: 2;
    border-radius: 0px 0px 10px 10px;
 }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;

    display: block;
    text-align: left;

    border-right: 2px solid #1D1A23;
    border-left:2px solid #1D1A23;
    border-top:2px solid #1D1A23;
}
.dropdown-content a:last-child {
    border-right: 1px solid #1D1A23;
    border-left:1px solid #1D1A23;
    border-bottom:1px solid #1D1A23;
    border-radius: 0px 0px 10px 10px;
}
.dropdown-content a:hover {
      background-color: #1D1A23;
}
.dropdown:hover .dropdown-content {
    display: block;
  }