/* -----------------------------------hoofding--------------------------------------- */
h1{
    /*  background-image: url(trippy.gif);*/
      background-color: #C03B17;
      height: 150px; 
      font-family: verdana;
      font-size: 100px;
      text-align: center; 
      border-radius: 10px 10px 0px 0px;
      margin-bottom:0px;
      border-bottom: 1px solid #690500;
      margin-top:4px;
  }
  .logo{
      height: 150px;
      float:left;
      border-radius: 10px 0px 0px 0px;
  }
  /* -----------------------------------body--------------------------------------- */
  body{
      /* background-image: url(wood3.jpg); */
      
      
      background-image: linear-gradient(#690500 , #258EA6); /* Standard syntax (must be last) */
      background-size: 100% 140%;
      font-family: Verdana, sans-serif;
     
  }
  .wrapper {
      margin-right: auto; 
      margin-left:  auto; 
    
      max-width: 1400px; 
      min-width: 1400px;
  
      width: 100%;
  
      padding-right: 10px;
      padding-left:  10px;
    }
    /* -----------------------------------FOOT NOTE--------------------------------------- */
.voet{
    border: solid;
    border-color: #DD8127;

    text-align: center;
    background-image: url(voet.jpg);
    width:1394px;
    margin-top: 10px;
    padding: 1px;
    position: fixed;
    bottom: 0px;

    z-index: 100;
}
/* -----------------------------------NAVIGATION BAR--------------------------------------- */
.spacer{
    width: 990px; 
    
    height: 60px;
}

.navbar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border : 0px;
    border-radius: 0px 0px 10px 10px;
}
li {
  
    border:1px solid #690500;
    background-color: #DD8127;
    display: inline-block;
    width: 100px;

    float: left;
}
li:first-child{
    border-radius: 0px 0px 0px 10px;
}
li:last-child {
  
    border-left:1px solid #690500;
   
    border-radius: 0px 0px 10px 0px;
}
.home {
    border-radius: 0px 0px 0px 10px;
}
.home2{
    border-radius: 0px 0px 0px 10px;
}
.formulier{
    background-color: #690500;
}
li a{
    padding-top: 20px;
    display: block;
    height: 40px;

    color: #000;   
    text-align: center;   
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #690500;
    color: white;
}

.extra2{
    border-radius: 0px 0px 10px 0px;
}

/* ---------------------------------------DROPDOWN MENU------------------------------------- */ 
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #DD8127;
    min-width: 102px;
    z-index: 2;
    border-radius: 0px 0px 10px 10px;
 }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;

    display: block;
    text-align: left;

    border-right: 2px solid #690500;
    border-left:2px solid #690500;
    border-top:2px solid #690500;
}
.dropdown-content a:last-child {
    border-right: 1px solid #690500;
    border-left:1px solid #690500;
    border-bottom:1px solid #690500;
    border-radius: 0px 0px 10px 10px;
}
.dropdown-content a:hover {
      background-color: #690500;
}
.dropdown:hover .dropdown-content {
    display: block;
  }
/* ---------------------------------------forms------------------------------------- */ 
  .cent{
    width: 90%;
    text-align: center;

    border-style:solid;
    border-width:6px;
    border-color:#1D1A23;
    border-radius:10px;

    /* background-image:url(wood5.jpg); */
    /* background-color:#FF6912; */
    background-image: linear-gradient(#C03B17 , #DD8127); /* Standard syntax (must be last) */
    background-size: 100% 140%;

    font-size:120%;
}
.cente{
    margin-top:10px;
    width: 30%;
    float:left;
}
.groot{
    font-size:150%;
}
/* ---------------------------------------forms------------------------------------- */ 

.dim{
    font-size: 20px;
}
legend{
    font-size: 20px;

}
fieldset{
    border-width:6px; 
    border-color: #690500;
    border-radius: 10px 10px 10px 10px;
    /* background-image:url(wood5.jpg); */
    /* background-color:#C03B17; */
    background-image: linear-gradient(#C03B17 , #DD8127); /* Standard syntax (must be last) */
    background-size: 100% 140%;
    margin-bottom:100px;

}
.header{
    border-style:solid;
    border-color: #690500;
    border-width:2px; 
    border-radius: 10px 10px 10px 10px;
    /* background-image:url(wood6.jpg); */
    background-color:#258EA6;
    margin-top:10px;
    padding: 2px;

}
#fout{
    visibility: hidden;
    background-color: #690500;
    font-size: 150%;
    width: 27%;
    margin: 3px;
    border-radius: 10px;
}
#test{
    background-color: #258EA6;
    color: white;
    padding: 10px 32px;
    text-align: center;

    border-radius:10px;
}
/* ---------------------------------------inputs------------------------------------- */ 
input[type=text]{
    border: 2px solid #690500;
    border-radius:4px;
    width: 100px;
    box-sizing: border-box;
    padding-top: 12px ;
    padding-bottom:12px;
    padding-left:5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 30%; 
}
input[type=number]:focus {
    width: 30%; 
 
}
input:focus {
    background-color: #258EA6;
}
input[type=number]{
    border: 2px solid #690500;
    border-radius:4px;
    width: 100px;
    box-sizing: border-box;
    padding-top: 12px ;
    padding-bottom:12px;
    padding-left:5px;

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input{
    display:inline;
}
#fout{
    color:#258EA6;
    
}
/*----------------------------------checkbox-------------------------------------------------*/
.tweederij{
    display:inline;
    float:right;
}
/* The container */
.container2 {
    width: 0%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
  }
  
  /* Hide the browser's default checkbox */
  .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container2:hover input ~ .checkmark {
    background-color: #258EA6;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container2 input:checked ~ .checkmark {
    background-color: #258EA6;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container2 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container2 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* ---------------------------------------slider------------------------------------- */ 
.slidecontainer {
    width: 50%;
}
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    background:#258EA6;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
}
.slider:hover {
    opacity: 1;
}
.slider:focus{
    background:#258EA6;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    opacity: 1;
    appearance: none;
    width: 25px;
    height: 25px;
    background:#690500;

    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #DD8127;
    cursor: pointer;
  }
#id{
    background: #DD8127;
}